<p>getcategory works!</p>
<div *ngFor="let item of dataCategory">
  <div class="card" style="width: 18rem;">
    <img [src]="item.img" class="card-img-top" alt="{{item.id}}">
    <div class="card-body">
      <h5 class="card-title">Card Category {{item.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="/Admin_Dashboard/Edit_category/{{item.id}}">Edit Category</a>
    </div>
  </div>
</div>
