<p>footer works!</p>
<footer class="bg-dark text-white text-center text-lg-start">
  <div class="container p-4">
    <!-- Social Media Section -->
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-facebook-f"></i> <!-- Facebook -->
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-twitter"></i> <!-- Twitter -->
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-instagram"></i> <!-- Instagram -->
      </a>
    </section>

    <!-- Links Section -->
    <section class="mb-4">
      <h5 class="text-uppercase">Quick Links</h5>
      <ul class="list-unstyled">
        <li><a href="#!" class="text-white">Home</a></li>
        <li><a href="#!" class="text-white">About</a></li>
        <li><a href="#!" class="text-white">Services</a></li>
        <li><a href="#!" class="text-white">Contact</a></li>
      </ul>
    </section>

    <!-- Copyright Section -->
    <section class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      &copy; 2025 Your Company Name
    </section>
  </div>
</footer>
