<p>addproduct works!</p>
<p>addcategory works!</p>


<form #category="ngForm" (ngSubmit)="addProduct(category.value)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Product name</label>
    <input type="text" class="form-control" name="name" ngModel>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">image</label>
    <input type="text" class="form-control" name="avatar" ngModel>
  </div>

  <div class="mb-3">
    <label for="categoryId" class="form-label">Category</label>
    <select id="categoryId" class="form-select" name="categoryId" ngModel required>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
